@import "./vars"
@import "./reset"
@import "../../components/footer/footer"

// Common
body
  background-color: $c-bg-light
// *, div
body, *
  font-family: $font
a
  color: $c-font-dark

.container
  width: $w-xl
  margin: 0 auto
  &-grid
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-column-gap: 30px
.logo
  &_square
    display: block
    width: 105px
    height: 105px
    background-color: $c-bg-light
  &_rectangle
    display: block
    width: 154px
    height: 38px
    background-color: darken($c-bg-middle, 18)
.link
  transition: 0.2s
  &:hover
    color: $c-active
.title
  font-size: 48px
  font-weight: bold
  line-height: 56px
.subtitle
  font-size: 28px
  font-weight: bold
  line-height: 40px
.text
  font-size: 18px
  line-height: 30px
.btn
  padding: 15px
  background-color: $c-active
  font-size: 18px
  color: $c-font-light
  transition: 0.2s
  &:hover
    background-color: $c-active-hover
  &:active
    background-color: $c-active-click
  &[disabled]
    background-color: $c-active-disabled
    cursor: default