@import "./vars"
@import "./reset"
@import "../../components/footer/footer"

// Common
body
  background-color: $c-bg-light
// *, div
body, *
  font-family: $font
a
  color: $c-font-dark

.container
  width: $w-xl
  margin: 0 auto
  &-grid
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-column-gap: 30px
.logo
  &_square
    width: 105px
    height: 105px
    background-color: $c-bg-light
.link
  transition: 0.2s
  &:hover
    color: $c-active