@import "./fonts"

// Colors
$c-font-dark: #000000
$c-font-light: #FFFFFF
$c-active: #34B8A3
$c-active-hover: #2C9C8B
$c-active-click: #278A7A
$c-active-disabled: #99DBD1
$c-icon: #3C517C
$c-icon-hover: #102A5E
$c-icon-bg: #EEEFF4
$c-icon-bg-click: #D6D7DC
$c-bg-dark: #102A5E
$c-bg-light: #FFFFFF
$c-bg-middle: #F2F2F2
$c-warning: #D31021

// Fonts
$font: 'Navigo', sans-serif
$fz-title: 24px
$fz-subtitle: 18px
$fz-norm: 15px
$fz-small: 13px

// Width
$w-xl: 1140px
$w-l: 960px
$w-m: 720px
$w-s: 540px
$w-xs: 300px