@import "./fonts"

// Colors
$c-font-dark: #000000
$c-font-light: #FFFFFF
$c-active: #34B8A3
$c-active-hover: #2C9C8B
$c-active-click: #278A7A
$c-active-disabled: #99DBD1
$c-icon: #3C517C
$c-icon-hover: #102A5E
$c-icon-bg: #EEEFF4
$c-icon-bg-click: #D6D7DC
$c-bg-dark: #102A5E
$c-bg-light: #FFFFFF
$c-bg-middle: #F2F2F2
$c-warning: #D31021

// Fonts
$font: 'Navigo', sans-serif
// $fz-title: 24px
// $fz-subtitle: 18px
// $fz-norm: 15px
// $fz-small: 13px

// Width
$w-xl: 1170px     // 70 * 12 + 30 * 11 (12 columns)
$w-l: 990px       // 55 * 12 + 30 * 11 (12 columns)
$w-m: 750px       // 35 * 12 + 30 * 11 (12 columns)
// $w-s: 570px       // 20 * 12 + 30 * 11 (12 columns)
$w-s: 336px       // 31 * 6 + 30 * 5 (6 columns)
// $w-xs: 310px      // 55 * 4  + 30 * 3  (4  columns)