extends ../base

//- include ../mixins

block main
  include ../../components/header-index/header-index
  .menu
    .container.menu-container
      .logo
        img(src="img/index/logo.svg", alt="Logo")
      nav.nav
        a.link.nav-link(href="#") Бронирование
        a.link.nav-link(href="#") Номерной фонд
        a.link.nav-link(href="#") Об эко-комплексе
        a.link.nav-link(href="#") Рестораны
        a.link.nav-link(href="#") Контакты
  .main
    .container.container-grid.main-container
      .main-menu
        button.link.subtitle.main-menu__link Зимний отдых
          .main-menu__link__line
        button.link.subtitle.main-menu__link Санаторий
          .main-menu__link__line
        button.link.subtitle.main-menu__link Туризм и активный отдых
          .main-menu__link__line
        button.link.subtitle.main-menu__link Летний лагерь
          .main-menu__link__line
        button.link.subtitle.main-menu__link Конгресс-услуги
          .main-menu__link__line
      .main-info
        .main-info__item
          .info-icon(style="background-image: url(\"img/icons/termometer.svg\")")
            //- img(src="img/icons/termometer.svg", alt="Termometer")
          .info-text -17&deg;
        .main-info__item
          .info-icon(style="background-image: url(\"img/icons/wind.svg\")")
            //- img(src="img/icons/wind.svg", alt="Wind")
          .info-text 3 м/с
        .main-info__item
          .info-icon(style="background-image: url(\"img/icons/camera.svg\")")
            //- img(src="img/icons/camera.svg", alt="Camera")
          .info-text смотреть камеры
      .main-images
        .main-image
          .main-image__img
            img(src="img/index/main.jpg", alt="Image")
          .main-image__linkbox
            a.main-image__link(href="#") Подробнее
        .main-image
          .main-image__img
            img(src="img/index/main.jpg", alt="Image")
          .main-image__linkbox
            a.main-image__link(href="#") Подробнее
        .main-image
          .main-image__img
            img(src="img/index/main.jpg", alt="Image")
          .main-image__linkbox
            a.main-image__link(href="#") Подробнее
        .main-image
          .main-image__img
            img(src="img/index/main.jpg", alt="Image")
          .main-image__linkbox
            a.main-image__link(href="#") Подробнее
        .main-image
          .main-image__img
            img(src="img/index/main.jpg", alt="Image")
          .main-image__linkbox
            a.main-image__link(href="#") Подробнее

  section.news
    .container
      .news-title
        h2.title Новости и акции
        .news-nav
          a.news-nav__item(href="#") все новости
          a.news-nav__item(href="#") все новости и акции
      .container-grid.news-container