@import "../../pages/common/vars"

.footer
  padding: 60px 0 196px 0
  background-color: $c-bg-dark
  color: $c-font-light
  &-logo
    grid-column: span 2
  &-menu
    grid-column: span 10
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-column-gap: 30px
    padding-bottom: 40px
    border-bottom: 1px solid rgba($c-bg-light, 0.1)
    &_bold
      grid-column: span 4
    &_thin
      grid-column: span 6
      display: grid
      grid-template-columns: repeat(6, 1fr)
      grid-column-gap: 30px
    &__column
      grid-column: span 3
    &__item
      display: block
      font-size: 18px
      color: $c-font-light
      opacity: 0.5
      margin-bottom: 15px
      transition: 0.2s
      &:last-child
        margin-bottom: 0
      &:hover
        opacity: 1
      &_bold
        font-weight: bold
        opacity: 1