footer.footer
  .container
    .footer-logo
      .logo_square
    .footer-menu
      .footer-menu_bold
        a.link.footer-menu__item.footer-menu__item_bold(href="#") Зимний отдых
        a.link.footer-menu__item.footer-menu__item_bold(href="#") Туризм и активный отдых
        a.link.footer-menu__item.footer-menu__item_bold(href="#") Снаторий
        a.link.footer-menu__item.footer-menu__item_bold(href="#") Летний лагерь
        a.link.footer-menu__item.footer-menu__item_bold(href="#") Конгресс-услуги
      .footer-menu_thin
        .footer-menu__column
          a.footer-menu__item(href="#") Бронирование
          a.footer-menu__item(href="#") Номерной фонд
          a.footer-menu__item(href="#") Об эко-комплексе
          a.footer-menu__item(href="#") Рестораны
          a.footer-menu__item(href="#") Контакты
          a.footer-menu__item(href="#") Вакансии
          a.footer-menu__item(href="#") Лечебные процедуры
        .footer-menu__column
          a.footer-menu__item(href="#") Лечебные программы
          a.footer-menu__item(href="#") Наши врачи
          a.footer-menu__item(href="#") Поиск по сайту
          a.footer-menu__item(href="#") Правовая информация
          a.footer-menu__item(href="#") Политика конфиденциальности
          a.footer-menu__item(href="#") Версия для слабовидяших