@import "../../pages/common/vars"
@import "../../pages/common/mixins"

.footer
  padding: 60px 0 196px 0
  background-color: $c-bg-dark
  color: $c-font-light
  &-logo
    flex-basis: columns-width(2, 4)
    margin-right: 30px
  &-menu
    display: flex
    justify-content: space-between
    flex-basis: columns-width(10, 4)
    padding-bottom: 40px
    border-bottom: 1px solid rgba($c-bg-light, 0.1)
    &_bold
      flex-basis: columns-width(4, 4)
      margin-right: 30px
    &_thin
      display: flex
      justify-content: space-between
      flex-basis: columns-width(6, 4)
    &__column
      flex-basis: columns-width(3, 4)
      &:first-child
        margin-right: 30px
    &__item
      display: block
      font-size: 18px
      color: $c-font-light
      opacity: 0.5
      margin-bottom: 15px
      transition: 0.2s
      &:last-child
        margin-bottom: 0
      &:hover
        opacity: 1
      &_bold
        font-weight: bold
        opacity: 1