.notification#header-notification
  .container.notification-container
    .notification-text Подъемники не работают при температуре ниже -30
    button.notification-btn#header-notification-btn Понятно
header.header#header
  .container.header-container
    button.link.header-language Switch to English
    .header-secondary
      a.link.header-secondary__link(href="#") Обратная связь
      .header-secondary__buttons
        button.btn-icon.header-btn
          <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.089 5.26929L13.9681 5.48653L14.1847 5.60864C17.1851 7.3005 19.2147 10.1891 19.3355 10.3763L19.3354 10.3764L19.3409 10.3842L19.6947 10.8888L19.3412 11.393L19.3409 11.3934C19.2568 11.5127 18.2048 13.0064 16.5243 14.4689C14.8368 15.9375 12.5512 17.3436 10.0001 17.3436C9.2278 17.3436 8.49486 17.2144 7.77835 16.9968L7.58555 16.9383L7.48738 17.1142L5.3181 21.0023L3.86492 20.1399L5.91115 16.4636L6.03207 16.2464L5.8155 16.1243C2.89324 14.4765 0.892413 11.6951 0.670758 11.3869C0.66558 11.3797 0.661373 11.3739 0.658147 11.3694L0.30542 10.8665L0.659001 10.3623L0.659288 10.3619C0.743358 10.2425 1.79542 8.74887 3.47588 7.28639C5.16338 5.81779 7.44898 4.41167 10.0001 4.41167C10.7724 4.41167 11.5053 4.54087 12.2218 4.75847L12.4151 4.81716L12.5131 4.64056L14.6826 0.730957L16.1353 1.59299L14.089 5.26929ZM2.53329 10.7088L2.4044 10.8675L2.53433 11.0254C3.27673 11.9272 4.77231 13.565 6.65301 14.6159L6.87177 14.7381L6.99349 14.5191L7.75106 13.1558L7.83383 13.0068L7.72545 12.8753C6.92186 11.9004 6.74346 10.4704 7.40335 9.31418L7.40495 9.31132C8.04401 8.15658 9.3212 7.60019 10.5388 7.82689L10.7155 7.85981L10.803 7.70266L11.3874 6.65224L11.547 6.36528L11.228 6.28776C10.8386 6.19317 10.4074 6.1466 10.0001 6.1466C8.28894 6.1466 6.69969 6.95231 5.41089 7.91134C4.11897 8.8727 3.10303 10.0074 2.53329 10.7088ZM8.61329 15.0798L8.45172 15.3673L8.77222 15.4452C9.16157 15.5398 9.59281 15.5863 10.0001 15.5863C11.7112 15.5863 13.3005 14.7806 14.5893 13.8216C15.8812 12.8602 16.8971 11.7255 17.4669 11.0241L17.5958 10.8654L17.4658 10.7076C16.7236 9.80589 15.2283 8.16847 13.3699 7.11765L13.1525 6.99469L13.0293 7.21205L12.3583 8.39656L12.3574 8.3982L11.2757 10.3417L11.2752 10.3426L8.61329 15.0798Z" fill="white"/></svg>
        button.btn-icon.header-btn
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6927 14.7853C17.2282 12.1276 17.2282 7.81868 14.6927 5.16101C12.1572 2.50334 8.04635 2.50334 5.51085 5.16101C2.97535 7.81868 2.97535 12.1276 5.51085 14.7853C8.04635 17.4429 12.1572 17.4429 14.6927 14.7853Z" stroke="white" stroke-width="3"/><path d="M14.5156 14.6072L18.9336 19.2413" stroke="white" stroke-width="3"/></svg>
      